.skillsBlock {
    background-color: #343a40;
    padding-bottom: 30px;
    position: relative;
}

.skillsContainer {
    justify-content: flex-start;
}

.skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-top: 30px;
    letter-spacing: 3px;
}

@media screen and (max-width: 768px) {
    .skillsContainer {
        justify-content: flex-start;
    }

    .skills {
        flex-direction: column;
    }
}