.mainBlock {
    height: 100vh;
    width: 100%;
    background-color: #343a40;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.mainFoto {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainFoto > img{
    width:100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .mainBlock {
        height: 100%;
    }

}
